.header {
  padding: 100px 20px 20px;
  background: #FFF;
}
.navbar-brand {
    position: absolute;
    width: 4%;
    padding: 0;
    margin-left: 0!important;
}
.navbar-brand img {
  height: 48px;
}
.navbar {
  margin-bottom: 0;
  border: none;
}
ul.nav.navbar-nav li.active a {
  border-bottom: 1px solid black;
}
@media (max-height: 801px ){
  .header {
    padding: 20px 20px 20px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
      text-align: center;
  }
}
@media (max-width: 767px) {
  ul.nav.navbar-nav {
    text-align: center;
  }
  .navbar-brand {
      position: absolute;
      width: 7%;
      left: 15px;
  }
  .navbar-default .navbar-brand {
    color: #000;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .navbar-default .navbar-toggle {
    border: none;
  }
  .header {
    padding: 0;
  }
}
/* iPad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .navbar-brand {
    width: 7%;
  }
  .header {
    padding: 20px 20px 20px;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  .navbar-brand {
    width: 15%;
  }
  .header {
    padding: 0;
  }
}
