.navbar-default .navbar-nav>li>a {
  color: #000;
}
ul.nav.navbar-nav li a {
  padding-bottom: 5px;
}
.footer-list {
  display: inline-flex;
  border-top: 1px solid #000;
}
.navbar-fixed-bottom {
  padding-bottom: 3%;
  text-align: center;
}
.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}
