.navbar-brand {
    position: absolute;
    width: 4%;
    padding: 0;
    margin-left: 0!important;
}
.navbar {
  margin-bottom: 0;
  border: none;
}
ul.nav.navbar-nav li.active a {
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
    .navbar-collapse {
        text-align: center;
    }
    .my-logo-text {
      display: none;
    }
}
@media (max-width: 767px) {
  ul.nav.navbar-nav {
    text-align: center;
  }
  .navbar-brand {
      position: absolute;
      width: 17%;
      left: 15px;
      padding-top: 15px;
  }
  .navbar-default .navbar-brand {
    color: #000;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .navbar-default .navbar-toggle {
    border: none;
  }
  .my-logo {
    display: none!important;
  }
}
