.gallery-image {
  cursor: pointer;
  padding: 7px;
}
.gallery-image:hover {
  box-shadow: 0 0 1em #888888;
}
.lightbox-image {
    position: absolute;
    top: 0;
    box-shadow: 0 1px 5px #333;
    z-index: 101;
    animation: fadeinImg .3s ease-in;
}
.lightbox-overlay {
    background: black;
    opacity: 0.75;
    animation: fadein .3s ease-in;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}
@media (min-width: 1200px) {
  .gallery-image {
    float: left;
  }
}
@media (max-width: 1200px) {
  .lightbox-image {
    top: 25%;
  }
}
@media (max-width: 991px) {
  .lightbox-image {
    right: -25%;
    width: 145%;
  }
}
@media (max-width: 767px) {
  .lightbox-image {
    width: 95%;
    right: 3%;
  }
}
@-webkit-keyframes fadeinImg {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeinImg {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeinImg {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: .75; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: .75; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: .75; }
}
